---
layout: base
description: Template for a list of posts, with full width
remarks: See also page.layout == 'archive' in footer.html
---

<div class="row">
  <div class="col">

    {{ content }}
  
  </div>
</div>

<section class="card-area">
  <div id="archive-filter" class="archive-filter"></div>
  <div class="features has-{{site.posts.size}}-elements">
    {% for post in site.posts %}
    <article class="feature" data-categories="{% for category in post.categories %}{{ category | strip }}|{% endfor %}">
    {% assign description = post.excerpt | truncatewords: 20  %}
    {% assign date = post.date | date: "%B %d, %Y"  %}
    {% assign url = post.url | relative_url  %}
      {% include blocks/featureContent.html content=post description=description preTitle=date url=url %}
    </article>
    {% endfor %}
  </div>
</section>